[:html
 [:head
  [:title "Welcome"]]
 [:body
  [:h1 "Lets prototype some stuff"]
  [:ul
   ;; Using core clojure functions is OK.
   ;; Good for filling out demo data in a template.
   (for [item (range 5)]
     [:li item])]

  ;; Also good for environment conditionals:

  ;; These can be used to switch between production and development versions of
  ;; css and js scripts.
  (when (#{"local"} (System/getenv "PROJECT_ENV"))
    [:h2 "Only visible for local development"])
  ]]
